extends layout

block content
block content
    .bg-image
    .container
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            a(href='#').navbar-brand Navbar
            button.navbar-toggle.collapsed(type="button" data-toggle="dropdown" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                span.navbar-toggler-icon
            .collapse.navbar-collapse#navbarSupportedContent
                ul.navbar-nav.ml-auto
                    li.nav-item.active
                        a(href="#").nav-link    Home
                            span.sr-only
                    li.nav-item
                        a(href="#").nav-link    Link
                    
