doctype html
html(lang="en")
	head
		title Flash Cards
		style
			include ../main.css
			include ../public/bower_components/bootstrap/dist/css/bootstrap.css
	body
		include includes/header.pug
		block content
		
		script
			include ../public/bower_components/jQuery/dist/jquery.min.js
			include ../public/bower_components/bootstrap/dist/js/bootstrap.min.js
		include includes/footer.pug