doctype html
html(lang="en")
	head
		title Flash Cards
		style
			include ../main.css
			include ../public/bower_components/bootstrap/dist/css/bootstrap.css
	body
		include includes/header.pug
		block content
		include includes/footer.pug