extends layout

block content
	div.skill-container
		div.wrapper
			div.skill.tech
				h2 I can code
			div.skill-list
				ul
					li HTML5
					li CSS3
					li SVG Animations
					li Boostrap 4
					li JavaScript
					li jQuery
					li React
					li Vuejs
					li Express
					li Node
					li PHP
					li WordPress
		div.wrapper
			div.skill.design
				h2 I can design
			div.skill-list
				ul
					li BGA Commercial Illustration (basically a graphic designer that can illustrate)
					li Adobe Photoshop
					li Adobe InDesign
					li Adobe Illustrator
					li Adobe xD
					li UX/UI Wireframing
					li Logo Creation
					li Modo
					li Z-Brush
					li Blender
		div.wrapper
			div.skill.volunteer
				h2 Stuff I'm proud of
			div.skill-list
				ul
					li My family
					li Winner 2017 Adobe Creative Jam UX/UI (2nd)
					li Graduate, Summa Cum Laude
					li 427hr. FreeCodeCamp Front End Development Certification
					li Kappa Pi Scholarship
					li Mentor/Volunteer at 
						br
						a(href="http://strongerthanmyfather.org/") Stronger Than My Father
					li Talent Discovery Award, Ambassador Award, from
						br  
						a(href="https://nossi.edu") Nossi College of Art and Design